body {
  padding-bottom: 20px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
  margin-top: 50px;
}

.popup {
  display: none;
  z-index: 400;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #FFF;
  border-radius: 4px;
  box-shadow: 0 0 10px 0px #555;
}

.popup .close {
  background: url('../images/close.png');
  width: 16px;
  height: 16px;
  margin: 5px;
}

.bg {
  display: none;
  background: #000;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 200;
  opacity: .5;
}

.sign-up-pop {
  width: 400px;
  margin-left: -200px;
  height: 300px;
  margin-top: -150px;
}

.sign-up-pop table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.sign-up-pop table td {
  padding: 5px;
}

.sign-up-pop table label {
  font-weight: normal;
  margin-bottom: 0;
  float: right;
}

.sign-up-pop table .btn {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.sign-up-pop h2 {
  text-align: center;
}

table.results {
  width: 100%;
}

table.results tr:nth-child(even) {
  background-color: #EEE;
}

table.results td, table.results th {
  padding: 5px;
  font-size: 16px;
  text-align: center;
}

table.results th {
  font-size: 18px;
}

.error {
  color: #F00;
}

.success {
  color: #5cb85c;
}

.save > span {
  color: #428bca;
}

.save > span:hover {
  cursor: default;
}

.save:hover .list-popup {
  display: block;
}

.list-popup {
  z-index: 5;
  position: absolute;
  border: 1px solid #999;
  background-color: #FFF;
  display: none;
}

.list-popup a {
  display: block;
  padding: 0 2px;
}

.list-popup a:hover {
  cursor: pointer;
}

a.help {
  background-image: url('../images/info.png');
  background-repeat: no-repeat;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 4px;
  opacity: .2;
  position: relative;
  top: 1px;
}

a.help:hover {
  cursor: pointer;
  opacity: .5;
}

table tr a.help {
  float: right;
  top: 4px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #FFF;
  border-top: 1px solid;
}

.footer ul {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  padding: 0;
  margin-top: 8px;
}

.footer ul li {
  display: inline;
  margin-left: 8px;
}

.footer ul li:first-child {
  margin-left: 0;
}

ul.bullet {
  list-style-type: disc;
  list-style-position: outside;
}

ul > li > ul {
  margin-left: 20px;
}