ol.lead {
  counter-reset: details;
  padding: 0;
}

ol.lead > li {
  list-style-type: none;
  counter-increment: details;
  margin-top: 15px;
}

ol.lead > li:before {
  display: inline-block;
  text-align: right;
  font-size: 26px;
  content: counter(details) ".";
  position: relative;
  left: -0.5em;
}

ol.lead p {
  font-size: 18px;
}

ol.lead img {
  width: 100%;
}

ol.lead img#search {
  max-width: 829px;
}

ol.lead img#degree {
  max-width: 423px;
}