.starter-template table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.starter-template table td {
  padding: 5px;
  text-align: right;
}

.starter-template table td:first-child {
  padding-right: 10px;
}

.starter-template table td:first-child label {
  font-weight: 400;
  margin-bottom: 1px;
}

.blank {
  height: 15px;
}

.double-blank {
  height: 40px;
}

.double-blank span {
  display: block;
  width: 150px;
  height: 1px;
  background-color: #999;
  margin-left: auto;
  margin-right: auto;
}

.btn-primary {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  display: block;
}

.error {
  text-align: center !important;
  color: #F00;
}

.success {
  text-align: center !important;
  color: #5cb85c;
}

table .calc td {
  text-align: center;
}

table .calc td a:hover {
  cursor: pointer;
}

.gpa-popup {
  width: 496px;
  margin-left: -248px;
}

.gpa-popup-container {
  margin: 20px;
}

.gpa-popup-container th {
  font-size: 18px;
  font-weight: 200;
  padding-right: 10px;
}

.gpa-popup-container td {
  padding-right: 10px;
  padding-top: 10px;
}

.gpa-class-container {
  max-height: 200px;
  overflow: scroll;
  display: block;
}

.gpa-popup button {
  margin-top: 10px;
  margin-bottom: -5px;
}

.gpa-buttons {
  text-align: center;
}