.top {
  margin-top: 20px;
}

.top div {
  width: 150px;
  height: 200px;
  font-weight: 500;
  font-size: 25px;
  display: inline-block;
}

.top div canvas {
  display: block;
}

.left, .mid, .right {
  width: 33%;
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: right;
}

table {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

table tr:nth-child(even) {
  background-color: #EEE;
}

table td {
  padding: 1px 10px;
}

table td:nth-child(1) {
  text-align: right;
  font-weight: 500;
  width: 60%;
}

table td:nth-child(2) {
  text-align: left;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.info-popup {
  width: 600px;
  margin-left: -300px;
  height: 400px;
  margin-top: -200px;
}

.info-popup .info-container {
  margin: 10px;
  overflow: scroll;
  width: 580px;
  height: 354px;
}