.left, .mid, .right {
  width: 33%;
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: right;
}

table {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

table tr:nth-child(even) {
  background-color: #EEE;
}

table td {
  padding: 1px 10px;
}

table td:nth-child(1) {
  text-align: right;
  font-weight: 500;
  width: 65%;
}

table td:nth-child(2) {
  text-align: left;
}

ul {
  list-style-type: none;
  padding-left: 0;
}